In [ ]:
import pandas as pd

In [ ]:
df2 = pd.read_csv("/content/R75252L02 (Block 3)-household characteristics.txt", sep="\t", encoding="utf-8", names=[
    "HHID", "Centre_Round", "FSU", "Round", "Schedule", "Sample", "Sector",
    "NSS_Region", "State", "District", "StateDistrict", "Stratum", "Sub_stratum",
    "Sub_Round", "Sub_sample", "FOD_Sub_Region", "Hamlet_Sub_block",
    "Second_stage_stratum", "Sample_hhld", "Level", "Filler", "Household_size",
    "NIC_2008_5d_code", "NCO_2004_3d_code", "Household_type", "HH_Type", "Religion",
    "Social_group", "Distance_primary_school", "Distance_upper_school",
    "Distance_secondary_school", "HH_Computer", "Member_internet",
    "Any_HH_member_3_35yrs_attnd_edu", "Hostel", "Location_State_ut",
    "Location_district", "Location_sector", "HH_Con_exp_rs", "NSS", "NSC", "MULT",
    "MULT_SubSample", "MULT_Combined"])

In [ ]:
selected_columns = [
    "HHID", "State", "Sector", "Household_size","Household_type", "Religion", "Social_group",
    "Distance_primary_school", "Distance_upper_school", "Distance_secondary_school",
    "HH_Computer", "Member_internet", "HH_Con_exp_rs", "Any_HH_member_3_35yrs_attnd_edu"
]

df2 = df2[selected_columns]

In [ ]:
df2.shape

(113757, 14)

In [ ]:
# Assuming df2 is your DataFrame and it already contains 'Household_type' and 'Sector' columns

# Create a new column 'HH_Economic_Activity' and initialize it with NaN
df2['HH_Economic_Activity'] = None

# Recode based on rural/urban and household type
# Rural areas (Sector == 1)
df2.loc[(df2['Household_type'] == 1) & (df2['Sector'] == 1), 'HH_Economic_Activity'] = 1  # Rural: Self-employed in agriculture
df2.loc[(df2['Household_type'] == 2) & (df2['Sector'] == 1), 'HH_Economic_Activity'] = 2  # Rural: Self-employed in non-agriculture
df2.loc[(df2['Household_type'] == 3) & (df2['Sector'] == 1), 'HH_Economic_Activity'] = 3  # Rural: Regular wage/salary in agriculture
df2.loc[(df2['Household_type'] == 4) & (df2['Sector'] == 1), 'HH_Economic_Activity'] = 4  # Rural: Regular wage/salary in non-agriculture
df2.loc[(df2['Household_type'] == 5) & (df2['Sector'] == 1), 'HH_Economic_Activity'] = 5  # Rural: Casual labour in agriculture
df2.loc[(df2['Household_type'] == 6) & (df2['Sector'] == 1), 'HH_Economic_Activity'] = 6  # Rural: Casual labour in non-agriculture

# Urban areas (Sector == 2)
df2.loc[(df2['Household_type'] == 1) & (df2['Sector'] == 2), 'HH_Economic_Activity'] = 7  # Urban: Self-employed
df2.loc[(df2['Household_type'] == 2) & (df2['Sector'] == 2), 'HH_Economic_Activity'] = 8  # Urban: Regular wage/salary
df2.loc[(df2['Household_type'] == 3) & (df2['Sector'] == 2), 'HH_Economic_Activity'] = 9  # Urban: Casual labour

# Others (Household_type == 9, both rural and urban)
df2.loc[df2['Household_type'] == 9, 'HH_Economic_Activity'] = 10  # Others

# Add labels to the new variable
economic_activity_labels = {
    1: "Rural: Self-employed (Agri)",
    2: "Rural: Self-employed (Non-Agri)",
    3: "Rural: Regular wage/salary (Agri)",
    4: "Rural: Regular wage/salary (Non-Agri)",
    5: "Rural: Casual labour (Agri)",
    6: "Rural: Casual labour (Non-Agri)",
    7: "Urban: Self-employed",
    8: "Urban: Regular wage/salary",
    9: "Urban: Casual labour",
    10: "Others"
}

# Map the labels to the new column
df2['HH_Economic_Activity'] = df2['HH_Economic_Activity'].map(economic_activity_labels)

# Check the results
print(df2['HH_Economic_Activity'].value_counts())

HH_Economic_Activity
Rural: Self-employed (Agri)              25760
Urban: Self-employed                     19407
Urban: Regular wage/salary               17833
Rural: Self-employed (Non-Agri)          10401
Others                                    9786
Rural: Casual labour (Agri)               8699
Rural: Casual labour (Non-Agri)           8246
Rural: Regular wage/salary (Non-Agri)     6972
Urban: Casual labour                      5856
Rural: Regular wage/salary (Agri)          796
Name: count, dtype: int64

In [ ]:
df2["HH_Economic_Activity"].value_counts()

HH_Economic_Activity
Rural: Self-employed (Agri)              25760
Urban: Self-employed                     19407
Urban: Regular wage/salary               17833
Rural: Self-employed (Non-Agri)          10401
Others                                    9786
Rural: Casual labour (Agri)               8699
Rural: Casual labour (Non-Agri)           8246
Rural: Regular wage/salary (Non-Agri)     6972
Urban: Casual labour                      5856
Rural: Regular wage/salary (Agri)          796
Name: count, dtype: int64

In [ ]:
df5 = pd.read_csv("/content/R75252L05 (Block-5)-Dducation particulars on basic course of the persons of age 3 to 35 years who a.txt", sep="\t", encoding="utf-8", names=[
    "HHID", "Centre_Round", "FSU", "Round", "Schedule", "Sample", "Sector",
    "NSS_Region", "State", "District", "StateDistrict", "Stratum", "Sub_stratum",
    "Sub_Round", "Sub_sample", "FOD_Sub_Region", "Hamlet_Sub_block",
    "Second_stage_stratum", "Sample_hhld", "Level", "Filler", "Per_serialno",
    "Age", "School_entry_age", "Language_spoken", "Medium_instruction",
    "Enrol_basic_course", "Course_attending", "Type_course", "Course_duration_mnth",
    "Whether_same_grade", "Institution_type", "Nature_institution",
    "Pvt_insttn_reason1", "Pvt_insttn_reason2", "Disbty_attnd_special_school",
    "Free_education", "Tution_free_payable", "Tution_free_partly_not_payable",
    "Tution_fee_waived_amt", "Scholarship_stipend", "Scholarship_stipend_amt",
    "Reimbursement_type", "Reimbursement_agency", "Whether_free_textbooks",
    "Whether_free_stationary", "Midday_meal_tiffin", "Midday_meal_tiffin_agency",
    "Transport_mode", "Concession_received", "Residance_insttn_distance",
    "Change_insttn_365days", "Taking_pvt_coaching", "NSS", "NSC", "MULT",
    "MULT_SubSample", "MULT_Combined"
])

In [ ]:
selected_columns = [
    "HHID", "Per_serialno", "Medium_instruction", "Enrol_basic_course", "Institution_type","Tution_free_payable", "Scholarship_stipend", "Taking_pvt_coaching"
]

df5 = df5[selected_columns]

In [ ]:
df5.shape

(152992, 8)

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152992 entries, 0 to 152991
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   HHID                 152992 non-null  int64
 1   Per_serialno         152992 non-null  int64
 2   Medium_instruction   152823 non-null  float64
 3   Enrol_basic_course   152992 non-null  int64
 4   Institution_type     152558 non-null  float64
 5   Tution_free_payable  152558 non-null  float64
 6   Scholarship_stipend  152558 non-null  float64
 7   Taking_pvt_coaching  152558 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 9.3 MB

In [ ]:
merged_data = pd.merge(df2, df5, on="HHID", how="left")

In [ ]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181504 entries, 0 to 181503
Data columns (total 22 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             181504 non-null  int64
 1   State                            181504 non-null  int64
 2   Sector                           181504 non-null  int64
 3   Household_size                   181504 non-null  int64
 4   Household_type                   181503 non-null  float64
 5   Religion                         181499 non-null  float64
 6   Social_group                     181504 non-null  int64
 7   Distance_primary_school          181503 non-null  float64
 8   Distance_upper_school            181503 non-null  float64
 9   Distance_secondary_school        181503 non-null  float64
 10  HH_Computer                      181504 non-null  int64
 11  Member_internet                  181504 non-null  int64
 12  HH_Con_exp_rs                    181504 non-null  int64
 13  Any_HH_member_3_35yrs_attnd_edu  181504 non-null  int64
 14  HH_Economic_Activity             181503 non-null  object
 15  Per_serialno                     152992 non-null  float64
 16  Medium_instruction               152823 non-null  float64
 17  Enrol_basic_course               152992 non-null  float64
 18  Institution_type                 152558 non-null  float64
 19  Tution_free_payable              152558 non-null  float64
 20  Scholarship_stipend              152558 non-null  float64
 21  Taking_pvt_coaching              152558 non-null  float64
dtypes: float64(12), int64(9), object(1)
memory usage: 30.5+ MB

In [ ]:
df4 = pd.read_csv("/content/R75252L04 (Block-4)-Demographic and other particulars of household members.txt", sep="\t", encoding="utf-8", names=[
    "HHID", "Centre_Round", "FSU", "Round", "Schedule", "Sample", "Sector",
    "NSS_Region", "State", "District", "StateDistrict", "Stratum", "Sub_stratum",
    "Sub_Round", "Sub_sample", "FOD_Sub_Region", "Hamlet_Sub_block",
    "Second_stage_stratum", "Sample_hhld", "Level", "Filler", "Per_serialno",
    "Relation_head", "Gender", "Age", "Marital_status", "Edu_level_general",
    "Edu_level_technical", "Completed_class_grade", "Edu_completed_inYrs",
    "enrolmt_3_35_yrs_status", "Operate_computer_age_5yrs", "Operate_internet_age_5yrs",
    "Age5yrs_Use_internet_last30days", "Per_12_59yrs_voca_tech_training",
    "Disability_crtificate", "Disability_type", "NSS", "NSC", "MULT",
    "MULT_SubSample", "MULT_Combined"
])

In [ ]:
selected_columns = [
    "HHID", "Per_serialno","Age","Gender","Edu_level_general", "Edu_level_technical",
    "Operate_computer_age_5yrs", "Operate_internet_age_5yrs", "Age5yrs_Use_internet_last30days",
    "Per_12_59yrs_voca_tech_training", "Disability_crtificate", "Disability_type"
]

df4 = df4[selected_columns]

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416915 entries, 0 to 416914
Data columns (total 12 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             416915 non-null  int64
 1   Per_serialno                     416914 non-null  float64
 2   Age                              416913 non-null  float64
 3   Gender                           416914 non-null  float64
 4   Edu_level_general                416914 non-null  float64
 5   Edu_level_technical              416904 non-null  float64
 6   Operate_computer_age_5yrs        389835 non-null  float64
 7   Operate_internet_age_5yrs        389835 non-null  float64
 8   Age5yrs_Use_internet_last30days  389835 non-null  float64
 9   Per_12_59yrs_voca_tech_training  308768 non-null  float64
 10  Disability_crtificate            416914 non-null  float64
 11  Disability_type                  5651 non-null    float64
dtypes: float64(11), int64(1)
memory usage: 38.2 MB

In [ ]:
merged_data = pd.merge(merged_data, df4, on=["HHID","Per_serialno"], how="left")

In [ ]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181504 entries, 0 to 181503
Data columns (total 32 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             181504 non-null  int64
 1   State                            181504 non-null  int64
 2   Sector                           181504 non-null  int64
 3   Household_size                   181504 non-null  int64
 4   Household_type                   181503 non-null  float64
 5   Religion                         181499 non-null  float64
 6   Social_group                     181504 non-null  int64
 7   Distance_primary_school          181503 non-null  float64
 8   Distance_upper_school            181503 non-null  float64
 9   Distance_secondary_school        181503 non-null  float64
 10  HH_Computer                      181504 non-null  int64
 11  Member_internet                  181504 non-null  int64
 12  HH_Con_exp_rs                    181504 non-null  int64
 13  Any_HH_member_3_35yrs_attnd_edu  181504 non-null  int64
 14  HH_Economic_Activity             181503 non-null  object
 15  Per_serialno                     152992 non-null  float64
 16  Medium_instruction               152823 non-null  float64
 17  Enrol_basic_course               152992 non-null  float64
 18  Institution_type                 152558 non-null  float64
 19  Tution_free_payable              152558 non-null  float64
 20  Scholarship_stipend              152558 non-null  float64
 21  Taking_pvt_coaching              152558 non-null  float64
 22  Age                              123339 non-null  float64
 23  Gender                           123339 non-null  float64
 24  Edu_level_general                123339 non-null  float64
 25  Edu_level_technical              123330 non-null  float64
 26  Operate_computer_age_5yrs        120932 non-null  float64
 27  Operate_internet_age_5yrs        120932 non-null  float64
 28  Age5yrs_Use_internet_last30days  120932 non-null  float64
 29  Per_12_59yrs_voca_tech_training  77200 non-null   float64
 30  Disability_crtificate            123339 non-null  float64
 31  Disability_type                  4755 non-null    float64
dtypes: float64(22), int64(9), object(1)
memory usage: 44.3+ MB

In [ ]:
df6 = pd.read_csv("/content/R75252L06 (Block 6)-Particulars of expenditure (Rs.) for persons of age 3 to 35 years who are curre.txt", sep="\t", encoding="utf-8", names=[
    "HHID", "Centre_Round", "FSU", "Round", "Schedule", "Sample", "Sector",
    "NSS_Region", "State", "District", "StateDistrict", "Stratum", "Sub_stratum",
    "Sub_Round", "Sub_sample", "FOD_Sub_Region", "Hamlet_Sub_block",
    "Second_stage_stratum", "Sample_hhld", "Level", "Filler", "Per_serialno",
    "Age", "Course_fee_amt", "Books_stationery_uniform_amt", "Transport_amt",
    "Private_coaching_amt", "Other_expenditure_amt", "Total_expenditure_amt",
    "Source_funding_basic_exp", "Source_funding_second_exp", "Exp_other_course_amt",
    "Exp_prep_higher_studies_amt", "Worked_30days", "Economic_activity_status",
    "Seeking_available_work", "NSS", "NSC", "MULT", "MULT_SubSample", "MULT_Combined"
])

In [ ]:
selected_columns = [
    "HHID","Per_serialno", "Private_coaching_amt", "Course_fee_amt", "Books_stationery_uniform_amt", "Source_funding_basic_exp"
]

df6 = df6[selected_columns]

In [ ]:
merged_data = pd.merge(merged_data, df6, on=["HHID","Per_serialno"], how="left")

In [ ]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181504 entries, 0 to 181503
Data columns (total 36 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             181504 non-null  int64
 1   State                            181504 non-null  int64
 2   Sector                           181504 non-null  int64
 3   Household_size                   181504 non-null  int64
 4   Household_type                   181503 non-null  float64
 5   Religion                         181499 non-null  float64
 6   Social_group                     181504 non-null  int64
 7   Distance_primary_school          181503 non-null  float64
 8   Distance_upper_school            181503 non-null  float64
 9   Distance_secondary_school        181503 non-null  float64
 10  HH_Computer                      181504 non-null  int64
 11  Member_internet                  181504 non-null  int64
 12  HH_Con_exp_rs                    181504 non-null  int64
 13  Any_HH_member_3_35yrs_attnd_edu  181504 non-null  int64
 14  HH_Economic_Activity             181503 non-null  object
 15  Per_serialno                     152992 non-null  float64
 16  Medium_instruction               152823 non-null  float64
 17  Enrol_basic_course               152992 non-null  float64
 18  Institution_type                 152558 non-null  float64
 19  Tution_free_payable              152558 non-null  float64
 20  Scholarship_stipend              152558 non-null  float64
 21  Taking_pvt_coaching              152558 non-null  float64
 22  Age                              123339 non-null  float64
 23  Gender                           123339 non-null  float64
 24  Edu_level_general                123339 non-null  float64
 25  Edu_level_technical              123330 non-null  float64
 26  Operate_computer_age_5yrs        120932 non-null  float64
 27  Operate_internet_age_5yrs        120932 non-null  float64
 28  Age5yrs_Use_internet_last30days  120932 non-null  float64
 29  Per_12_59yrs_voca_tech_training  77200 non-null   float64
 30  Disability_crtificate            123339 non-null  float64
 31  Disability_type                  4755 non-null    float64
 32  Private_coaching_amt             64245 non-null   float64
 33  Course_fee_amt                   130050 non-null  float64
 34  Books_stationery_uniform_amt     150583 non-null  float64
 35  Source_funding_basic_exp         152296 non-null  float64
dtypes: float64(26), int64(9), object(1)
memory usage: 49.9+ MB

In [ ]:
merged_data.shape

(181504, 36)

In [ ]:
def wrangle(df):
  #drop unimportant columns,columns with too much missing data and columns that could cause data leakage
  df= df.drop(columns=["Household_type","Private_coaching_amt","Age5yrs_Use_internet_last30days",
                       "Disability_type","Per_12_59yrs_voca_tech_training","Tution_free_payable"])

  #drop rows with missing values in key columns
  df=df.dropna(subset=['Taking_pvt_coaching', "HHID","Per_serialno",'HH_Con_exp_rs'])

  # Drop duplicates (if any)
  df=df.drop_duplicates()

  #drop columns that are causing mc

  #drop

  return df

In [ ]:
df = wrangle(merged_data)

In [ ]:
df.shape

(152558, 30)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152558 entries, 0 to 181501
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             152558 non-null  int64
 1   State                            152558 non-null  int64
 2   Sector                           152558 non-null  int64
 3   Household_size                   152558 non-null  int64
 4   Religion                         152553 non-null  float64
 5   Social_group                     152558 non-null  int64
 6   Distance_primary_school          152558 non-null  float64
 7   Distance_upper_school            152558 non-null  float64
 8   Distance_secondary_school        152558 non-null  float64
 9   HH_Computer                      152558 non-null  int64
 10  Member_internet                  152558 non-null  int64
 11  HH_Con_exp_rs                    152558 non-null  int64
 12  Any_HH_member_3_35yrs_attnd_edu  152558 non-null  int64
 13  HH_Economic_Activity             152558 non-null  object
 14  Per_serialno                     152558 non-null  float64
 15  Medium_instruction               152389 non-null  float64
 16  Enrol_basic_course               152558 non-null  float64
 17  Institution_type                 152558 non-null  float64
 18  Scholarship_stipend              152558 non-null  float64
 19  Taking_pvt_coaching              152558 non-null  float64
 20  Age                              122937 non-null  float64
 21  Gender                           122937 non-null  float64
 22  Edu_level_general                122937 non-null  float64
 23  Edu_level_technical              122928 non-null  float64
 24  Operate_computer_age_5yrs        120701 non-null  float64
 25  Operate_internet_age_5yrs        120701 non-null  float64
 26  Disability_crtificate            122937 non-null  float64
 27  Course_fee_amt                   130050 non-null  float64
 28  Books_stationery_uniform_amt     150583 non-null  float64
 29  Source_funding_basic_exp         152296 non-null  float64
dtypes: float64(20), int64(9), object(1)
memory usage: 36.1+ MB

In [ ]:
df.isna().sum()/df.shape[0]*100

HHID                                0.000000
State                               0.000000
Sector                              0.000000
Household_size                      0.000000
Religion                            0.003277
Social_group                        0.000000
Distance_primary_school             0.000000
Distance_upper_school               0.000000
Distance_secondary_school           0.000000
HH_Computer                         0.000000
Member_internet                     0.000000
HH_Con_exp_rs                       0.000000
Any_HH_member_3_35yrs_attnd_edu     0.000000
HH_Economic_Activity                0.000000
Per_serialno                        0.000000
Medium_instruction                  0.110778
Enrol_basic_course                  0.000000
Institution_type                    0.000000
Scholarship_stipend                 0.000000
Taking_pvt_coaching                 0.000000
Age                                19.416222
Gender                             19.416222
Edu_level_general                  19.416222
Edu_level_technical                19.422121
Operate_computer_age_5yrs          20.881894
Operate_internet_age_5yrs          20.881894
Disability_crtificate              19.416222
Course_fee_amt                     14.753733
Books_stationery_uniform_amt        1.294590
Source_funding_basic_exp            0.171738
dtype: float64

very small percentage of data is missing. we can drop it.

In [ ]:
df.shape

(152558, 30)

#HOUSEHOLD SIZE

In [ ]:

# Define function to categorize household size
def categorize_household_size(size):
    size = int(size)  # Convert to integer if it's not already
    if size in [1, 2]:
        return "Small"
    elif size in [3, 4, 5]:
        return "Medium"
    elif size in [6, 7, 8]:
        return "Large"
    else:
        return "Very Large"

# Apply the function to create a new categorized column
df["Household_size_category"] = df["Household_size"].apply(categorize_household_size)

# Display the first few rows to verify
print(df["Household_size_category"].value_counts())

Household_size_category
Medium        91208
Large         45128
Very Large    12217
Small          4005
Name: count, dtype: int64

In [ ]:
df= df.drop(columns=["Household_size"])

#household economic activity

In [ ]:
# Define function to categorize household economic activity
def categorize_economic_activity(activity):
    if "Self-employed" in activity:
        return "Self-employed"
    elif "Regular wage/salary" in activity:
        return "Regular wage/salary"
    elif "Casual labour" in activity:
        return "Casual labour"
    else:
        return "Others"

# Apply the function to create a new categorized column
df["HH_Economic_Activity_category"] = df["HH_Economic_Activity"].apply(categorize_economic_activity)

# Display the first few rows to verify
print(df[["HH_Economic_Activity_category"]].value_counts())

HH_Economic_Activity_category
Self-employed                    80686
Regular wage/salary              34101
Casual labour                    28674
Others                            9097
Name: count, dtype: int64

In [ ]:
df= df.drop(columns=["HH_Economic_Activity"])

#religion

In [ ]:
# Define the mapping for major and minor religions
religion_mapping = {
    1: "Major Religion",  # Hinduism
    2: "Major Religion",  # Islam
    3: "Major Religion",  # Christianity
    4: "Minor Religion",  # Sikhism
    5: "Minor Religion",  # Jainism
    6: "Minor Religion",  # Buddhism
    7: "Minor Religion",  # Zoroastrianism
    9: "Minor Religion"   # Others
}

# Apply the mapping to categorize religions
df["Religion_category"] = df["Religion"].map(religion_mapping)


# Check if the categories are distributed correctly
print(df["Religion_category"].value_counts())

Religion_category
Major Religion    145925
Minor Religion      6628
Name: count, dtype: int64

In [ ]:
# Drop the original Religion column
df=df.drop(columns=["Religion"])

#social group

In [ ]:
# Define the mapping (keeping original categories)
social_group_mapping = {
    1: "Scheduled Tribes",
    2: "Scheduled Castes",
    3: "Other Backward Classes",
    9: "Others"
}

# Apply the mapping to create a new column
df["Social_Group_Category"] = df["Social_group"].map(social_group_mapping)

# Check the value counts
print(df["Social_Group_Category"].value_counts())

Social_Group_Category
Other Backward Classes    61762
Others                    43985
Scheduled Castes          25040
Scheduled Tribes          21771
Name: count, dtype: int64

In [ ]:
# Drop the original column
df= df.drop(columns=["Social_group"])

#distances

In [ ]:
# Define a function to categorize distances
def categorize_distance(distance):
    if distance in [1, 2]:
        return "Nearby"
    elif distance in [3, 4]:
        return "Moderate Distance"
    else:
        return "Far"

# Apply to each distance column
df["Distance_primary_category"] = df["Distance_primary_school"].map(categorize_distance)
df["Distance_upper_category"] = df["Distance_upper_school"].map(categorize_distance)
df["Distance_secondary_category"] = df["Distance_secondary_school"].map(categorize_distance)

In [ ]:
df = df.drop(columns=["Distance_primary_school","Distance_upper_school","Distance_secondary_school"])

#medium instruction

In [ ]:
# Define mapping for 4 categories
def categorize_medium(lang):
    if lang == 1:  # Assuming values are integers, not strings
        return "Hindi"
    elif lang == 2:
        return "English"
    elif lang in [3, 4, 7, 8, 15, 17, 18, 23, 24, 25]:
        return "Regional"
    else:
        return "Others"

# Apply function to create new column
df["Medium_instruction_grouped"] = df["Medium_instruction"].apply(categorize_medium)

# Verify the mapping
print(df["Medium_instruction_grouped"].value_counts(dropna=False))

Medium_instruction_grouped
English     65940
Hindi       48163
Regional    35548
Others       2907
Name: count, dtype: int64

In [ ]:
df=df.drop(columns=["Medium_instruction"])

#Enrol_basic_course	level of current enrolment in the basic course

In [ ]:
# Define mapping function
def categorize_education(level):
    if level in [3.0, 4.0, 5.0]:
        return "Non-formal Education"
    elif level in [6.0, 7.0]:
        return "Pre-primary & Primary"
    elif level in [8.0, 10.0, 11.0]:
        return "Upper Primary & Secondary"
    elif level in [12.0, 13.0, 14.0]:
        return "Diploma/Certificate"
    elif level in [15.0, 16.0]:
        return "Higher Education"
    else:
        return "Unknown"

# Apply function to create new column
df["Enrol_basic_course_grouped"] = df["Enrol_basic_course"].apply(categorize_education)

# Verify the mapping
print(df["Enrol_basic_course_grouped"].value_counts(dropna=False))

Enrol_basic_course_grouped
Upper Primary & Secondary    59665
Pre-primary & Primary        49392
Higher Education             26625
Diploma/Certificate          16876
Name: count, dtype: int64

In [ ]:
df = df.drop(columns=["Enrol_basic_course"])

#general and technical education level

In [ ]:
import pandas as pd

# Creating new broad categories for General Education
edu_general_broad = {
    1: "Low Education",
    2: "Low Education",
    3: "Low Education",
    4: "Low Education",
    5: "Low Education",
    6: "Low Education",
    7: "Basic Education",
    8: "Basic Education",
    10: "Secondary Education",
    11: "Secondary Education",
    12: "Diploma Holders",
    13: "Diploma Holders",
    14: "Diploma Holders",
    15: "Higher Education",
    16: "Higher Education"
}

# Creating new broad categories for Technical Education
technical_edu_map = {
    1: "No Technical Education",
    2: "Technical Diploma & Degree", 3: "Technical Diploma & Degree", 4: "Technical Diploma & Degree", 5: "Technical Diploma & Degree", 6: "Technical Diploma & Degree",
    7: "Technical Diploma & Degree", 8: "Technical Diploma & Degree", 9: "Technical Diploma & Degree", 10: "Technical Diploma & Degree", 11: "Technical Diploma & Degree",
    12: "Technical Diploma & Degree", 13: "Technical Diploma & Degree", 14: "Technical Diploma & Degree", 15: "Technical Diploma & Degree", 16: "Technical Diploma & Degree"
}

# Sample DataFrame (Replace with actual DataFrame)
df['Edu_level_general_category'] = df['Edu_level_general'].map(edu_general_broad)
df['Edu_level_technical_category'] = df['Edu_level_technical'].map(technical_edu_map)

print(df["Edu_level_general_category"].value_counts())
print(df["Edu_level_technical_category"].value_counts())

Edu_level_general_category
Low Education          41114
Basic Education        38110
Secondary Education    35417
Higher Education        6858
Diploma Holders         1438
Name: count, dtype: int64
Edu_level_technical_category
No Technical Education        117904
Technical Diploma & Degree      5024
Name: count, dtype: int64

In [ ]:
df = df.drop(columns=["Edu_level_general","Edu_level_technical"])

#institution type

In [ ]:
# Define mapping for institution type
institution_map = {
    1: "Government",
    2: "Private Aided",
    3: "Private Unaided",
    4: "Not Known"
}

# Apply the mapping
df['Institution_category'] = df['Institution_type'].map(institution_map)

In [ ]:
df=df.drop(columns=["Institution_type"])

#state


Major Categories:
North – Jammu & Kashmir, Himachal Pradesh, Punjab, Chandigarh, Uttarakhand, Haryana, Delhi, Rajasthan
Central – Uttar Pradesh, Madhya Pradesh, Chhattisgarh


East – Bihar, Jharkhand, Odisha, West Bengal


Northeast – Sikkim, Arunachal Pradesh, Nagaland, Manipur, Mizoram, Tripura, Meghalaya, Assam


West – Gujarat, Maharashtra, Goa, Daman & Diu, Dadra & Nagar Haveli


South – Andhra Pradesh, Karnataka, Kerala, Tamil Nadu, Telangana, Puducherry, Lakshadweep, Andaman & Nicobar

In [ ]:
# Convert State to string for mapping
df["State"] = df["State"].astype(str)

# Define State to Region mapping
state_mapping = {
    "01": "North", "02": "North", "03": "North", "04": "North", "05": "North",
    "06": "North", "07": "North", "08": "North", "09": "North", "10": "East",
    "11": "East", "12": "East", "13": "East", "14": "East", "15": "East",
    "16": "East", "17": "East", "18": "East", "19": "East", "20": "East",
    "21": "East", "22": "Central", "23": "Central", "24": "West", "25": "West",
    "26": "West", "27": "West", "28": "South", "29": "South", "30": "South",
    "31": "South", "32": "South", "33": "South", "34": "South", "35": "South",
    "36": "South"
}

df["State"] = df["State"].astype(str).str.zfill(2)

# Apply mapping
df["State_Category"] = df["State"].map(state_mapping)

# Verify if it worked
print(df["State_Category"].value_counts(dropna=False))

State_Category
East       46126
North      45722
South      31112
West       17551
Central    12047
Name: count, dtype: int64

In [ ]:
df=df.drop(columns=["State"])

#sector

1:rural
2:urban

In [ ]:
df["Sector"].value_counts()

Sector
1    88959
2    63599
Name: count, dtype: int64

#gender

1:male,2:female,3:trans

#SOURCE OF FUNDING FOR BASIC EXPENDITURE

In [ ]:
# Step 1: Convert to string and clean
df['Source_funding_basic_exp'] = df['Source_funding_basic_exp'].fillna('00').astype(str).str.replace('.0', '').str.strip()

# Step 2: Ensure 2-digit format
df['Source_funding_basic_exp'] = df['Source_funding_basic_exp'].str.zfill(2)

# Step 3: Define mapping (updated with your requirements)
funding_mapping = {
    '01': 'Student Earnings',
    '02': 'Household Members',
    '03': 'Household Members',
    '04': 'Other',
    '05': 'Scholarship',
    '06': 'Scholarship',
    '07': 'Scholarship',
    '08': 'Loan',
    '10': 'Loan',
    '19': 'Other',
    '00': 'Unknown'  # For previously NA values
}

# Step 4: Apply mapping
df['Funding_Category'] = df['Source_funding_basic_exp'].map(funding_mapping)

# Step 5: Verify
print("Value counts after cleaning:")
print(df['Funding_Category'].value_counts(dropna=False))

print("\nSample of unmapped values (if any):")
unmapped = df[~df['Source_funding_basic_exp'].isin(funding_mapping.keys())]
print(unmapped['Source_funding_basic_exp'].unique())

Value counts after cleaning:
Funding_Category
Household Members    143425
Other                  2474
Scholarship            2431
Student Earnings       2014
Loan                   1952
Unknown                 262
Name: count, dtype: int64

Sample of unmapped values (if any):
[]

In [ ]:
df=df.drop(columns=["Source_funding_basic_exp"])

In [ ]:
df["Gender"].value_counts()

Gender
1.0    70706
2.0    52225
3.0        6
Name: count, dtype: int64

In [ ]:
df = df[df['Gender'] != 3.0]

#fix encoding for the binary categorical variables

In [ ]:
# List of binary categorical variables
binary_vars = [
    'HH_Computer', 'Member_internet', 'Any_HH_member_3_35yrs_attnd_edu',
    'Scholarship_stipend', 'Taking_pvt_coaching', 'Operate_computer_age_5yrs',
    'Operate_internet_age_5yrs', 'Disability_crtificate'
]

# Convert 1 → 1 (Yes), 2 → 0 (No)
df[binary_vars] = df[binary_vars].replace({1: 1, 2: 0})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152552 entries, 0 to 181501
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             152552 non-null  int64
 1   Sector                           152552 non-null  int64
 2   HH_Computer                      152552 non-null  int64
 3   Member_internet                  152552 non-null  int64
 4   HH_Con_exp_rs                    152552 non-null  int64
 5   Any_HH_member_3_35yrs_attnd_edu  152552 non-null  int64
 6   Per_serialno                     152552 non-null  float64
 7   Scholarship_stipend              152552 non-null  float64
 8   Taking_pvt_coaching              152552 non-null  float64
 9   Age                              122931 non-null  float64
 10  Gender                           122931 non-null  float64
 11  Operate_computer_age_5yrs        120695 non-null  float64
 12  Operate_internet_age_5yrs        120695 non-null  float64
 13  Disability_crtificate            122931 non-null  float64
 14  Course_fee_amt                   130046 non-null  float64
 15  Books_stationery_uniform_amt     150577 non-null  float64
 16  Household_size_category          152552 non-null  object
 17  HH_Economic_Activity_category    152552 non-null  object
 18  Religion_category                152547 non-null  object
 19  Social_Group_Category            152552 non-null  object
 20  Distance_primary_category        152552 non-null  object
 21  Distance_upper_category          152552 non-null  object
 22  Distance_secondary_category      152552 non-null  object
 23  Medium_instruction_grouped       152552 non-null  object
 24  Enrol_basic_course_grouped       152552 non-null  object
 25  Edu_level_general_category       122931 non-null  object
 26  Edu_level_technical_category     122922 non-null  object
 27  Institution_category             152552 non-null  object
 28  State_Category                   152552 non-null  object
 29  Funding_Category                 152552 non-null  object
dtypes: float64(10), int64(6), object(14)
memory usage: 36.1+ MB

In [ ]:
# List of categorical columns
categorical_cols = [
    'HH_Computer', 'Member_internet', 'Any_HH_member_3_35yrs_attnd_edu',
    'Scholarship_stipend', 'Taking_pvt_coaching', 'Operate_computer_age_5yrs',
    'Operate_internet_age_5yrs', 'Disability_crtificate',
    'Household_size_category', 'HH_Economic_Activity_category', 'Religion_category',
    'Social_Group_Category', 'Distance_primary_category', 'Distance_upper_category',
    'Distance_secondary_category', 'Medium_instruction_grouped', 'Enrol_basic_course_grouped',
    'Edu_level_general_category', 'Edu_level_technical_category', 'Institution_category',"Sector","Gender"
]

# Convert all to categorical
df[categorical_cols] = df[categorical_cols].astype('category')


# Verify the changes
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152552 entries, 0 to 181501
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             152552 non-null  int64
 1   Sector                           152552 non-null  category
 2   HH_Computer                      152552 non-null  category
 3   Member_internet                  152552 non-null  category
 4   HH_Con_exp_rs                    152552 non-null  int64
 5   Any_HH_member_3_35yrs_attnd_edu  152552 non-null  category
 6   Per_serialno                     152552 non-null  float64
 7   Scholarship_stipend              152552 non-null  category
 8   Taking_pvt_coaching              152552 non-null  category
 9   Age                              122931 non-null  float64
 10  Gender                           122931 non-null  category
 11  Operate_computer_age_5yrs        120695 non-null  category
 12  Operate_internet_age_5yrs        120695 non-null  category
 13  Disability_crtificate            122931 non-null  category
 14  Course_fee_amt                   130046 non-null  float64
 15  Books_stationery_uniform_amt     150577 non-null  float64
 16  Household_size_category          152552 non-null  category
 17  HH_Economic_Activity_category    152552 non-null  category
 18  Religion_category                152547 non-null  category
 19  Social_Group_Category            152552 non-null  category
 20  Distance_primary_category        152552 non-null  category
 21  Distance_upper_category          152552 non-null  category
 22  Distance_secondary_category      152552 non-null  category
 23  Medium_instruction_grouped       152552 non-null  category
 24  Enrol_basic_course_grouped       152552 non-null  category
 25  Edu_level_general_category       122931 non-null  category
 26  Edu_level_technical_category     122922 non-null  category
 27  Institution_category             152552 non-null  category
 28  State_Category                   152552 non-null  object
 29  Funding_Category                 152552 non-null  object
dtypes: category(22), float64(4), int64(2), object(2)
memory usage: 13.7+ MB

In [ ]:
df["Taking_pvt_coaching"].value_counts(normalize=True)*100

Taking_pvt_coaching
0.0    82.020557
1.0    17.979443
Name: proportion, dtype: float64

#class imbalance is present

In [ ]:
# Define the new column order
new_order = ["HHID", "Per_serialno"] + [col for col in df.columns if col not in ["HHID", "Per_serialno", "Taking_pvt_coaching"]] + ["Taking_pvt_coaching"]

# Reorder the dataframe
df = df[new_order]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152552 entries, 0 to 181501
Data columns (total 30 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   HHID                             152552 non-null  int64
 1   Per_serialno                     152552 non-null  float64
 2   Sector                           152552 non-null  category
 3   HH_Computer                      152552 non-null  category
 4   Member_internet                  152552 non-null  category
 5   HH_Con_exp_rs                    152552 non-null  int64
 6   Any_HH_member_3_35yrs_attnd_edu  152552 non-null  category
 7   Scholarship_stipend              152552 non-null  category
 8   Age                              122931 non-null  float64
 9   Gender                           122931 non-null  category
 10  Operate_computer_age_5yrs        120695 non-null  category
 11  Operate_internet_age_5yrs        120695 non-null  category
 12  Disability_crtificate            122931 non-null  category
 13  Course_fee_amt                   130046 non-null  float64
 14  Books_stationery_uniform_amt     150577 non-null  float64
 15  Household_size_category          152552 non-null  category
 16  HH_Economic_Activity_category    152552 non-null  category
 17  Religion_category                152547 non-null  category
 18  Social_Group_Category            152552 non-null  category
 19  Distance_primary_category        152552 non-null  category
 20  Distance_upper_category          152552 non-null  category
 21  Distance_secondary_category      152552 non-null  category
 22  Medium_instruction_grouped       152552 non-null  category
 23  Enrol_basic_course_grouped       152552 non-null  category
 24  Edu_level_general_category       122931 non-null  category
 25  Edu_level_technical_category     122922 non-null  category
 26  Institution_category             152552 non-null  category
 27  State_Category                   152552 non-null  object
 28  Funding_Category                 152552 non-null  object
 29  Taking_pvt_coaching              152552 non-null  category
dtypes: category(22), float64(4), int64(2), object(2)
memory usage: 13.7+ MB

In [ ]:
df.head()

,HHID,Per_serialno,Sector,HH_Computer,Member_internet,HH_Con_exp_rs,Any_HH_member_3_35yrs_attnd_edu,Scholarship_stipend,Age,Gender,...,Distance_upper_category,Distance_secondary_category,Medium_instruction_grouped,Enrol_basic_course_grouped,Edu_level_general_category,Edu_level_technical_category,Institution_category,State_Category,Funding_Category,Taking_pvt_coaching
0,344431301,5.0,1,0,0,10500,0,0.0,10.0,2.0,...,Nearby,Moderate Distance,English,Pre-primary & Primary,Low Education,No Technical Education,Government,North,Household Members,0.0
1,344431302,3.0,1,0,0,7500,0,0.0,19.0,1.0,...,Nearby,Moderate Distance,English,Higher Education,Secondary Education,No Technical Education,Government,North,Household Members,0.0
2,344431302,4.0,1,0,0,7500,0,0.0,10.0,2.0,...,Nearby,Moderate Distance,English,Pre-primary & Primary,Low Education,No Technical Education,Government,North,Household Members,0.0
3,344431303,3.0,1,0,0,6500,0,0.0,10.0,1.0,...,Nearby,Moderate Distance,English,Pre-primary & Primary,Low Education,No Technical Education,Government,North,Household Members,0.0
5,344432301,3.0,1,0,0,4000,0,0.0,10.0,1.0,...,Nearby,Moderate Distance,English,Pre-primary & Primary,Low Education,No Technical Education,Government,North,Household Members,0.0

In [ ]:
df.to_csv('final_dataset.csv', index=False)

In [ ]:
df.shape

(152552, 30)